@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .menuActive {
    background-color: transparent !important;
  }
  .menuActive:hover {
    background-color: transparent !important;
  }
  .menuActive:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 2px;
    background: linear-gradient(90deg, #9a5cff 100%, #215fff 0%);
    bottom: 0;
  }
}
