@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .custom-card {
    background-color: rgba(213, 199, 255, 0.1);
    transition: all 0.25s ease-in;
  }
  .custom-card:hover {
    transform: translateY(-4px);
  }
  .textCard {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.7);
  }
}
